[Unit]
Description=Pytelegrafhttp is a scraper for metrics from HTTP pages
Documentation=https://github.com/dekarrin/pytelegrafhttp/
After=network-online.target

[Service]
Type=simple
User=pytelegrafhttp
Group=pytelegrafhttp
ExecStart=/usr/local/bin/pytelhttp start --config /etc/pytelegrafhttp/config.py
ExecReload=/usr/local/bin/pytelhttp reload-config $MAINPID --config /etc/pytelegrafhttp/config.py
ExecStop=/usr/local/bin/pytelhttp stop $MAINPID --config /etc/pytelegrafhttp/config.py
Restart=on-abort
KillMode=control-group

[Install]
WantedBy=multi-user.target
Alias=pytelegrafhttp.service
